<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omegle</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <img class="logo" src="/img/logo.png" alt="Wait for a sec">
                <h2>Talk to strangers</h2>
                <div class="online-status">5000+ online now</div>
            </div>
        </nav>
    </header>
    <main>
        <div class="main-container">
            <p>Omegle is a free online chatting website which can be entered by users without any kind of sign ups or registrations. After being founded in 2008, Omegle is considered as the pioneer of chatting websites. It allows the users to socialize with others in a few simple steps. You can just enter the website and chat randomly. The Omegle Text Chat service randomly pairs users in one-on-one chat sessions where they can chat with strangers anonymously by using a name of their own choice, or not even mentioning. The website was launched on March 25, 2009. It was a creation of an 18-year-old boy named Leif K-Brooks, from Battleboro, Vermont.

                Less than a month after its launch, the number of page views a day rose to 150,000. Later on, in March 2010, the site initiated the video conferencing feature. Now the site also provides mobile apps which enables users to connect with Omegle and chat randomly from their mobile devices.
                
                Currently, Omegle Chat is ruling among the other chatting websites, due to its number of users. Aside from entering the market at the perfect time, it is also quite easy to use and that is the main reason for grabbing major users over the internet. Initially Omegle Text Chat was only a simple 'text-only chat' service, that paired random users to communicate as strangers. After initializing the video mode in 2010, users were able to use webcams and microphones for chatting beside the 'text-only' feature.
                
                Omegle Text Chat gives you the opportunity of chatting with strangers by texting. This addictive way of chatting is also considered as the most secure, easiest and amazing.
                </p>
                <h2 class="monitored-text">Video is monitored. Keep it clean</h2>
                <div class="action-container">
                    <p class="start-chat">Start chatting</p>
                    <div class="button-container">
                        <button class="action-button">
                            <a href="/text_chat" >Text Chat</a>
                        </button>
                        <button class="action-button">
                            <a href="/video_chat">Video Chat</a>
                        </button>
                    </div>
                </div>
            </div>
    </main>
</body>
</html>