<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omegle</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <img class="logo" src="/img/logo.png" alt="Wait for a sec">
                <h2>Talk to strangers</h2>
                <div class="online-status">5000+ online now</div>
            </div>
        </nav>
    </header>
    <main class="video_chat_main_container">
        <div class="video_chat_container" style="justify-content: center; align-items: center; background-color: azure;">
            <div class="chat-container">
                <div class="chat-text-container">
                    <p>You are chatting with a random stranger</p>
                    <p>You both speak the same anguage - English</p>
                    <hr class="horizontal-divider">
                    <p class="chat-text-area"></p>
                </div>
                <div class="next-chat-container">
                    <div class="next-chat">Next</div>
                    <div class="type-message">
                        <textarea name="" id="msg-input" cols="30" rows="5"></textarea>
                    </div>
                    <div class="msg-send-button">Send</div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>